{
    "presets": [
        "@babel/env",
        "@babel/react"
    ],
    "plugins": [
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "src/app"
            }
        ]
    ]
}
